<div class="team-4">
  <div class="container">
    <div class="row">
      <div class="col-md-8 mx-auto text-center mb-5">
        <h3 class="display-3">The Amazing Team </h3>
        <p class="lead">Society has put up so many boundaries, so many limitations on what’s right and wrong that it’s almost impossible to get a pure thought out. It’s like a little kid, a little boy, looking at colors.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-10 ml-auto mr-auto">
        <div class="card card-profile card-horizontal">
          <div class="row">
            <div class="col-xl-7">
              <div class="card-image no-mask">
                <a href="javascript:;">
                  <img class="img" src="{{ '/assets/img/theme/tom-klein.jpg' | relative_url }}">
                </a>
              </div>
            </div>
            <div class="col-xl-5">
              <div class="card-body mt-3">
                <div class="card-profile-stats">
                  <div class="text-left p-0">
                    <span class="heading">Willian Pearce</span>
                    <span class="description">Name</span>
                  </div>
                </div>
                <div class="card-profile-stats">
                  <div class="text-left p-0">
                    <span class="heading">Project Manager</span>
                    <span class="description">Position</span>
                  </div>
                </div>
                <div class="card-profile-stats d-flex">
                  <div class="pl-0">
                    <span class="heading">367</span>
                    <span class="description">Followers</span>
                  </div>
                  <div>
                    <span class="heading">31</span>
                    <span class="description">Projects</span>
                  </div>
                  <div>
                    <span class="heading">189</span>
                    <span class="description">Commits</span>
                  </div>
                </div>
                <div class="card-profile-stats">
                  <div class="text-left p-0">
                    <div class="avatar-group mb-2">
                      <a href="javascript:;" class="avatar avatar-lg rounded-circle shadow" data-toggle="tooltip" data-original-title="Ryan Tompson">
                        <img alt="Image placeholder" src="{{ '/assets/img/faces/team-1.jpg' | relative_url }}">
                      </a>
                      <a href="javascript:;" class="avatar avatar-lg rounded-circle shadow" data-toggle="tooltip" data-original-title="Romina Hadid">
                        <img alt="Image placeholder" src="{{ '/assets/img/faces/team-2.jpg' | relative_url }}">
                      </a>
                      <a href="javascript:;" class="avatar avatar-lg rounded-circle shadow" data-toggle="tooltip" data-original-title="Alexander Smith">
                        <img alt="Image placeholder" src="{{ '/assets/img/faces/team-3.jpg' | relative_url }}">
                      </a>
                      <a href="javascript:;" class="avatar avatar-lg rounded-circle shadow" data-toggle="tooltip" data-original-title="Jessica Doe">
                        <img alt="Image placeholder" src="{{ '/assets/img//faces/team-4.jpg' | relative_url }}">
                      </a>
                    </div>
                    <span class="description">Team</span>
                  </div>
                </div>
              </div>
              <div class="card-footer">
                <a href="javascript:;" class="btn btn-link px-0 mt-4">View more<i class="ni ni-bold-right"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>