<div class="team-2">
  <div class="container">
    <div class="row">
      <div class="col-md-8 mx-auto text-center mb-5">
        <h3 class="display-3">The Executive Team</h3>
        <h4 class="lead">This is the paragraph where you can write more details about your team. Keep you user engaged by providing meaningful information.</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="card card-profile" data-image="profile-image">
          <div class="card-header">
            <div class="card-image">
              <div class="dropdown">
                <button type="button" class="btn btn-link dropdown-toggle btn-icon-only" data-toggle="dropdown" aria-expanded="false">
                  <i class="ni ni-settings-gear-65"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end">
                  <a class="dropdown-item" href="javascript:;">Edit Profile</a>
                  <a class="dropdown-item" href="javascript:;">Settings</a>
                  <a class="dropdown-item" href="javascript:;">Log out</a>
                </div>
              </div>
              <a href="javascript:;">
                <img class="img rounded" src="{{ '/assets/img/faces/ali-pazani.jpg' | relative_url }}">
              </a>
            </div>
          </div>
          <div class="card-body pt-0">
            <h4 class="display-4 mb-0">Sofia Scarlett</h4>
            <p class="lead">UX Designer</p>
            <div class="table-responsive">
              <ul class="list-unstyled ">
                <li class="py-1">
                  <div class="d-flex align-items-center">
                    <div>
                      <div class="badge badge-circle badge-info mr-3">
                        <i class="ni ni-atom"></i>
                      </div>
                    </div>
                    <div>
                      <h6 class="mb-1">Keen on great design</h6>
                    </div>
                  </div>
                </li>
                <li class="py-1">
                  <div class="d-flex align-items-center">
                    <div>
                      <div class="badge badge-circle badge-success mr-3">
                        <i class="ni ni-user-run"></i>
                      </div>
                    </div>
                    <div>
                      <h6 class="mb-1">Outdors lover</h6>
                    </div>
                  </div>
                </li>
                <li class="py-1">
                  <div class="d-flex align-items-center">
                    <div>
                      <div class="badge badge-circle badge-danger mr-3">
                        <i class="ni ni-chart-bar-32"></i>
                      </div>
                    </div>
                    <div>
                      <h6 class="mb-1">Super friendly support team</h6>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="card card-profile" data-image="profile-image">
          <div class="card-header">
            <div class="card-image">
              <div class="dropdown">
                <button type="button" class="btn btn-link dropdown-toggle btn-icon-only" data-toggle="dropdown" aria-expanded="false">
                  <i class="ni ni-settings-gear-65"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end">
                  <a class="dropdown-item" href="javascript:;">Edit Profile</a>
                  <a class="dropdown-item" href="javascript:;">Settings</a>
                  <a class="dropdown-item" href="javascript:;">Log out</a>
                </div>
              </div>
              <a href="javascript:;">
                <img class="img rounded" src="{{ '/assets/img/faces/team-5.jpg' | relative_url }}">
              </a>
            </div>
          </div>
          <div class="card-body pt-0">
            <h4 class="display-4 mb-0">Dylan Wyatt</h4>
            <p class="lead">Team Lead</p>
            <div class="table-responsive">
              <ul class="list-unstyled ">
                <li class="py-1">
                  <div class="d-flex align-items-center">
                    <div>
                      <div class="badge badge-circle badge-info mr-3">
                        <i class="ni ni-atom"></i>
                      </div>
                    </div>
                    <div>
                      <h6 class="mb-1">Dedicated entrepreneur</h6>
                    </div>
                  </div>
                </li>
                <li class="py-1">
                  <div class="d-flex align-items-center">
                    <div>
                      <div class="badge badge-circle badge-success mr-3">
                        <i class="ni ni-user-run"></i>
                      </div>
                    </div>
                    <div>
                      <h6 class="mb-1">Urban exploration</h6>
                    </div>
                  </div>
                </li>
                <li class="py-1">
                  <div class="d-flex align-items-center">
                    <div>
                      <div class="badge badge-circle badge-danger mr-3">
                        <i class="ni ni-chart-bar-32"></i>
                      </div>
                    </div>
                    <div>
                      <h6 class="mb-1">Able to get good at everything</h6>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="card card-profile" data-image="profile-image">
          <div class="card-header">
            <div class="card-image">
              <div class="dropdown">
                <button type="button" class="btn btn-link dropdown-toggle btn-icon-only" data-toggle="dropdown" aria-expanded="false">
                  <i class="ni ni-settings-gear-65"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end">
                  <a class="dropdown-item" href="javascript:;">Edit Profile</a>
                  <a class="dropdown-item" href="javascript:;">Settings</a>
                  <a class="dropdown-item" href="javascript:;">Log out</a>
                </div>
              </div>
              <a href="javascript:;">
                <img class="img rounded" src="{{ '/assets/img/faces/atikh.jpg' | relative_url }}">
              </a>
            </div>
          </div>
          <div class="card-body pt-0">
            <h4 class="display-4 mb-0">Mila Skylar</h4>
            <p class="lead">Content Creator</p>
            <div class="table-responsive">
              <ul class="list-unstyled ">
                <li class="py-1">
                  <div class="d-flex align-items-center">
                    <div>
                      <div class="badge badge-circle badge-info mr-3">
                        <i class="ni ni-atom"></i>
                      </div>
                    </div>
                    <div>
                      <h6 class="mb-1">High quality publication</h6>
                    </div>
                  </div>
                </li>
                <li class="py-1">
                  <div class="d-flex align-items-center">
                    <div>
                      <div class="badge badge-circle badge-success mr-3">
                        <i class="ni ni-user-run"></i>
                      </div>
                    </div>
                    <div>
                      <h6 class="mb-1">Storytelling</h6>
                    </div>
                  </div>
                </li>
                <li class="py-1">
                  <div class="d-flex align-items-center">
                    <div>
                      <div class="badge badge-circle badge-danger mr-3">
                        <i class="ni ni-chart-bar-32"></i>
                      </div>
                    </div>
                    <div>
                      <h6 class="mb-1">Master of words qualification</h6>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>