<div class="team-5">
  <div class="container">
    <div class="row">
      <div class="col-md-8 mx-auto text-center mb-5">
        <h3 class="display-3">Meet our awesome team</h3>
        <p class="lead">People are so scared to lose that they don't even try. Like, one thing people can't say is that I'm not trying, and I'm not trying my hardest, and I'm not trying to do the best way I know how.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="card card-profile">
          <div class="card-header bg-info" style="background-image: url('{{ '/assets/img/ill/inn.svg' | relative_url }}')">
            <div class="card-avatar">
              <a href="javascript:;">
                <img class="img img-raised rounded-circle" src="{{ '/assets/img/faces/team-2.jpg' | relative_url }}">
              </a>
            </div>
          </div>
          <div class="card-body pt-0">
            <div class="d-flex justify-content-between">
              <a href="javascript:;" class="btn btn-sm btn-info mr-4 mt-3">Connect</a>
              <a href="javascript:;" class="btn btn-sm btn-default float-right mt-3">Message</a>
            </div>
            <div class="row">
              <div class="col">
                <div class="card-profile-stats d-flex justify-content-center">
                  <div>
                    <span class="heading">22</span>
                    <span class="description">Friends</span>
                  </div>
                  <div>
                    <span class="heading">10</span>
                    <span class="description">Photos</span>
                  </div>
                  <div>
                    <span class="heading">89</span>
                    <span class="description">Comments</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="text-center">
              <h5 class="h4">
                Melanie Paisley<span class="font-weight-light">, 31</span>
              </h5>
              <div class="font-weight-300">
                <i class="ni location_pin mr-2"></i>Beijing, China
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="card card-profile" data-background="cover">
          <img class="img pattern pattern-top" src="{{ '/assets/img/ill/linth3.svg' | relative_url }}" alt="cover">
          <div class="card-header">
            <div class="card-avatar">
              <a href="javascript:;">
                <img class="img img-raised rounded-circle" src="{{ '/assets/img/faces/michael.jpg' | relative_url }}">
              </a>
            </div>
          </div>
          <div class="card-body pt-0">
            <div class="text-center">
              <h5 class="h5 mt-3">
                Byron Reese<span class="font-weight-light">, 29</span>
              </h5>
              <div class="font-weight-300">
                <i class="ni location_pin mr-2"></i>California
              </div>
            </div>
            <div class="card-profile-stats d-flex justify-content-center">
              <div>
                <span class="heading">23K</span>
                <span class="description">Followers</span>
              </div>
              <div>
                <span class="heading">47</span>
                <span class="description">Posts</span>
              </div>
            </div>
            <button type="button" class="btn btn-lg btn-success btn-block">Like!</button>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="card card-profile">
          <div class="card-header bg-info" style="background-image: url('{{ '/assets/img/ill/inn.svg' | relative_url }}')">
            <div class="card-avatar">
              <a href="javascript:;">
                <img class="img img-raised rounded-circle" src="{{ '/assets/img/faces/team-3.jpg' | relative_url }}">
              </a>
            </div>
          </div>
          <div class="card-body pt-0">
            <div class="d-flex justify-content-between">
              <a href="javascript:;" class="btn btn-sm btn-info mr-4 mt-3">Connect</a>
              <a href="javascript:;" class="btn btn-sm btn-default float-right mt-3">Message</a>
            </div>
            <div class="row">
              <div class="col">
                <div class="card-profile-stats d-flex justify-content-center">
                  <div>
                    <span class="heading">22</span>
                    <span class="description">Friends</span>
                  </div>
                  <div>
                    <span class="heading">10</span>
                    <span class="description">Photos</span>
                  </div>
                  <div>
                    <span class="heading">89</span>
                    <span class="description">Comments</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="text-center">
              <h5 class="h4">
                Johana Doe<span class="font-weight-light">, 29</span>
              </h5>
              <div class="font-weight-300">
                <i class="ni location_pin mr-2"></i>California
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>