[submodule "src/SDK"]
	path = src/SDK
	url = git@github.com:DevOps-Alchemists/Atomy.SDK.git
[submodule "src/Blazor.Diagrams"]
	path = src/Blazor.Diagrams
	url = git@github.com:DevOps-Alchemists/Blazor.Diagrams.git
