<div class="testimonials-2 fullWidth">
    <div class="container">
      <div class="row">
        <div id="carouselFade" class="carousel slide carousel-fade carousel-testimonials" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="info text-left bg-danger shadow-lg">
                <div class="icon icon-shape bg-white text-danger shadow rounded-circle mb-4">
                  <i class="fa fa-quote-right"></i>
                </div>
                <p class="description text-white">
                  It really matters and then like it really doesn’t matter. What matters is the people who are sparked by it. And the people who are like offended by it, it doesn’t matter. Because it's about motivating the doers. Because I’m here to follow my dreams and inspire other people to follow their dreams.
                </p>
                <div class="author">
                  <img src="{{ '/assets/img/faces/team-5.jpg' | relative_url }}" alt="..." class="avatar img-raised">
                  <span>Mike John</span>
                </div>
              </div>
              <div class="card card-blog card-background" data-animation="true">
                <div class="full-background" style="background-image: url('{{ '/assets/img/sections/austin.jpg' | relative_url }}')"></div>
                <div class="card-body">
                  <div class="content-bottom ml-auto">
                    <a href="javascript:void(0)" class="btn btn-round btn-simple btn-neutral"><i class="ni ni-book-bookmark"></i> Read more</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="info text-left bg-info shadow-lg">
                <div class="icon icon-shape bg-white text-info shadow rounded-circle mb-4">
                  <i class="fa fa-quote-right"></i>
                </div>
                <p class="description text-white">
                  Take up one idea. Make that one idea your life
                  - think of it, dream of it, live on that idea.
                  Let the brain, muscles, nerves, every part of
                  your body, be full of that idea, and just leave
                  every other idea alone. This is the way to success.
                  A single rose can be my garden... a single friend,
                  my world.
                </p>
                <div class="author">
                  <img src="{{ '/assets/img/faces/team-3.jpg' | relative_url }}" alt="..." class="avatar img-raised">
                  <span>Andrew Lino</span>
                </div>
              </div>
              <div class="card card-blog card-background" data-animation="true">
                <div class="full-background" style="background-image: url('{{ '/assets/img/sections/unsplashs.jpg' | relative_url }}')"></div>
                <div class="card-body">
                  <div class="content-bottom ml-auto">
                    <a href="javascript:void(0)" class="btn btn-round btn-simple btn-neutral"><i class="ni ni-book-bookmark"></i> Read more</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselFade" role="button" data-slide="prev">
            <i class="ni ni-bold-left"></i>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselFade" role="button" data-slide="next">
            <i class="ni ni-bold-right"></i>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
  </div>