<div class="testimonials-1 fullWidth" style="background-image: url('{{ '/assets/img/ill/testimonial_bg.svg' | relative_url }}');">
    <div class="container">
      <div id="carousel-testimonials" class="carousel slide carousel-team">
        <div class="carousel-inner">
          <div class="carousel-item">
            <div class="container">
              <div class="row">
                <div class="col-md-5 ml-auto">
                  <h3 class="card-title"> Sarah Smith</h3>
                  <h3 class="text-danger">• • •</h3>
                  <h4 class="lead">
                    Take up one idea. Make that one idea your life - think of it, dream of it, live on that idea.
                    Let the brain, muscles, nerves, every part of your body, be full of that idea, and just leave every other idea alone.
                    This is the way to success. A single rose can be my garden... a single friend, my world.
                  </h4>
                  <a href="javascript:void(0)" class="btn btn-danger mt-3">Read more</a>
                </div>
                <div class="col-md-5 p-5 ml-auto">
                  <div class="p-3">
                    <img class="img-fluid rounded shadow transform-perspective-right" src="{{ '/assets/img/faces/fezbot.jpg' | relative_url }}" alt="First slide">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item active">
            <div class="container">
              <div class="row">
                <div class="col-md-5 ml-auto">
                  <h3 class="card-title">Isaac Hunter </h3>
                  <h3 class="text-info">• • •</h3>
                  <h4 class="lead">
                    Take up one idea. Make that one idea your life - think of it, dream of it, live on that idea.
                    Let the brain, muscles, nerves, every part of your body, be full of that idea, and just leave every other idea alone.
                    This is the way to success. A single rose can be my garden... a single friend, my world.
                  </h4>
                  <a href="javascript:void(0)" class="btn btn-info mt-3">Read more</a>
                </div>
                <div class="col-md-5 p-5 ml-auto">
                  <div class="p-3">
                    <img class="img-fluid rounded shadow transform-perspective-right" src="{{ '/assets/img/faces/brooke-cagle.jpg' | relative_url }}" alt="First slide">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carousel-testimonials" role="button" data-slide="prev">
          <i class="ni ni-bold-left"></i>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carousel-testimonials" role="button" data-slide="next">
          <i class="ni ni-bold-right"></i>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>