@page
@model LockoutModel
@{
    ViewData["Title"] = "Locked out";
}

<div class="mud-paper mud-elevation-1 mud-card" style="position:absolute; top:50%; left:50%; transform:translate(-50%, -50%); width:400px;">
    <div class="mud-card-header">
        <h1 class="mud-typography mud-typography-h6 mud-typography-align-center mud-full-width">@ViewData["Title"]</h1>
    </div>
     <div class="mud-card-content">
        <p class="text-danger">This account has been locked out, please try again later.</p>
        <a href="/Identity/Account/Login">Back to login</a>
    </div>
</div>
