@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<div class="mud-paper mud-elevation-1 mud-card" style="position:absolute; top:50%; left:50%; transform:translate(-50%, -50%); width:400px;">
    <div class="mud-card-header">
        <h1 class="mud-typography mud-typography-h6 mud-typography-align-center mud-full-width">@ViewData["Title"]</h1>
    </div>
    <div class="mud-card-content">
    @{
        if (User.Identity!.IsAuthenticated)
        {
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                <button type="submit" class="w-100 btn btn-lg btn-primary">Click here to Logout</button>
            </form>
        }
        else
        {
            <p>You have successfully logged out of the application.</p>
        }
    }
    </div>
</div>
