<div class="section features-4">
    <div class="container">
      <div class="row row-grid">
        <div class="col-lg-4 col-md-4">
            <a href="{{site.baseurl}}/docs/getting-started/local">
                <div class="info info-horizontal info-hover-primary">
                    <h3 class="info-title text-uppercase display-4">Getting started</h3>
                    <p class="description">Everything you need to get started</p>
                </div>
            </a>
        </div>
        <div class="col-lg-4 col-md-4">
          <a href="{{site.baseurl}}/docs/user-guide/agent-create-project">
              <div class="info info-horizontal info-hover-primary">
                  <h3 class="info-title text-uppercase display-4">User guide</h3>
                  <p class="description">The essential guide to seamless integration and use</p>
              </div>
          </a>
      </div>
      </div>
    </div>
  </div>