html {
    height: 100vh;
}

body {
    height: 100vh;
    font-size: 0.9rem;
    font-family: Nunito, sans-serif;
}

label,
legend {
    color: var(--mud-palette-text-primary);
}

.mud-full-width {
    width: calc(100%);
}
.mud-full-height {
    height: calc(100%);
}
.mud-drawer {
    position: fixed !important;
}
.mud-card-header {
    border-bottom: 4px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to left, var(--mud-palette-primary), var(--mud-palette-secondary));
}
.mud-tabs-panels {
    height: 100%;
}
.overflow-scroll {
    overflow: auto;
}

/*Blazor error message*/
#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}
