:root {
    --a-theme-flow-node-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    --a-theme-flow-node-selected-box-shadow: 0 4px 10px var(--mud-palette-primary);
    --a-theme-flow-node-port-default-color: #8391A2;
    --a-theme-flow-node-port-field-color: #8391A2;
    --a-theme-flow-node-port-image-color: var(--mud-palette-info);
    --a-theme-flow-node-port-shape-color: #c100e7;
}
