.w50 {
    width: 50%;
}
.w33 {
    width: 33.333333%;
}
.w25 {
    width: 25%;
}
.ta-start {
    text-align: start;
}
.ta-center {
    text-align: center;
}
.ta-end {
    text-align: end;
}
.to-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
}

@keyframes fadein {
    from    { opacity: 0; }
    to      { opacity: 1; }
}
@-moz-keyframes fadein {
    from    { opacity: 0; }
    to      { opacity: 1; }
}
@-webkit-keyframes fadein {
    from    { opacity: 0; }
    to      { opacity: 1; }
}
.animation-fadein {
    -webkit-animation: fadein 1s;
       -moz-animation: fadein 1s;
         -o-animation: fadein 1s;
            animation: fadein 1s;
}

.blur {
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
}

.center-horizontal {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}

.flex-self-center {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.brand-text {
    letter-spacing: .4rem;
    font-weight: 500;
    user-select: none;
}

.page-loading-bar {
    height: 4px;
}

.page-placeholder-image {
    position: relative;
    width: 50%;
    height: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.page-placeholder-action {
    position: relative;
    top: 25%;
}

.editor-container {
    height: calc(100% - 70px);
}

/*Blazor diagram*/
.diagram-container {
    width: 100%;
    height: calc(100% - 13px);
}
.diagram-canvas {
    height: 100%;
}
.diagram-canvas.grid {
    --s: 100px;
    --g: #0000 90deg,rgba(0, 0, 0, 0.03) 0;
    background:
    conic-gradient(from 90deg at 2px 2px,var(--g)) 0 0/var(--s) var(--s),
    conic-gradient(from 90deg at 1px 1px,var(--g)) 0 0/calc(var(--s)/5) calc(var(--s)/5);
}

.flow.node.box {
    min-width: 300px;
    max-width: 300px;
    background-color: var(--mud-palette-background-grey);
    box-shadow: var(--a-theme-flow-node-box-shadow);
    transform: scale(0.9);

}
.flow.node.box.selected {
    box-shadow: var(--a-theme-flow-node-selected-box-shadow);
}
.flow.node.title {
    font-weight: bold;
    height: 20px;
    width: 100%;
    padding-left: 5px;
    color: var(--mud-palette-primary-text);
    background-color: var(--mud-palette-primary);
}
.flow-node-field {
    font-size: .875rem;
    font-weight: 500;
    letter-spacing: .0892857143em;
    text-transform: uppercase;
    border-radius: 4px;
    transition: all .3s cubic-bezier(.4,0,.2,1);
}
.flow.row {
    min-height: 30px;
    margin-bottom: 5px;
}
.flow.port {
    width: 12px;
    height: 12px;
    margin-top: 5px;
    border-radius: 50%;
    border: 3px solid var(--a-theme-flow-node-port-default-color);
    background-color: var(--a-theme-flow-node-port-default-color);
}
.flow.port.input {
    position: relative;
    float: left;
    background-color: var(--mud-palette-background-grey);
}
.flow.port.output {
    position: relative;
    float: right;
    right: -22px;
}
.flow-input-body {
    min-width: 150px !important;
}
/* Port colors */
.flow.port.input.field {
    border-color: var(--a-theme-flow-node-port-field-color);
}
.flow.port.output.field {
    border-color: var(--a-theme-flow-node-port-field-color);
    background-color: var(--a-theme-flow-node-port-field-color);
}
.flow.port.input.image {
    border-color: var(--a-theme-flow-node-port-image-color);
}
.flow.port.output.image {
    border-color: var(--a-theme-flow-node-port-image-color);
    background-color: var(--a-theme-flow-node-port-image-color);
}
.flow.port.input.shape {
    border-color: var(--a-theme-flow-node-port-shape-color);
}
.flow.port.output.shape {
    border-color: var(--a-theme-flow-node-port-shape-color);
    background-color: var(--a-theme-flow-node-port-shape-color);
}

.audit-compare-property {
    background-color: var(--a-theme-compare-subtitle-background-color);
    padding-left: 16px;
    padding-right: 16px;
}
.audit-compare-value-container {
    width: 50%;
    padding-left: 16px;
    padding-right: 16px;
}
.audit-compare-addition-color {
    background-color: var( --a-theme-compare-addition-background-color);
}
.audit-compare-addition-border-color {
    background-color: var( --a-theme-compare-addition-border-background-color);
    min-width: 44px;
    min-height: 20px;
}
.audit-compare-deletion-color {
    background-color: var( --a-theme-compare-deletion-background-color);
}
.audit-compare-deletion-border-color {
    background-color: var( --a-theme-compare-deletion-border-background-color);
    min-width: 44px;
    min-height: 20px;
}
.audit-compare-neutral-color {
    background-color: var(--a-theme-compare-neutral-background-color);
}
