<MudGrid Class="mud-full-width mud-full-height">
    <MudItem xs="12">
        <div class="d-flex flex-column">
            <MudPagination Color="Color.Primary" Class="mx-auto" Count="@_imageNameBatches.Count()" />
        </div>
    </MudItem>
</MudGrid>