<div class="image-selection-container py-1 mud-full-width">
    <div class="image-selection-container-border pa-3 mud-full-width  overflow-auto">
        <MudStack Row>
            @foreach (var imageSource in Sources)
            {
                <ImageThumbnail Source="imageSource" Width="@ItemSize" Height="@ItemSize"
                                OnSelectChanged="OnThumbnailSelected" Select="@(imageSource == _selectedImageSource)" />
            }
        </MudStack>
    </div>
</div>
