<div class="section features-3 fullWidth">
    <div class="container">
        <div class="row align-items-top">
            <div class="col-lg-6 highlight">
                <div class="info bg-info">
                    <div class="license-description">
                        <h3 class="info-title text-uppercase display-4">{% t license.standard_license.title %}</h3>
                        <p class="description">
                            {% t license.standard_license.description %}
                        </p>
                    </div>
                    <div class="license-pricing">
                        <h5 class="text-uppercase">{% t license.standard_license.price %}</h5>
                        <p class="description">
                            {% t license.standard_license.price_description %}
                        </p>
                    </div>
                    <div class="license-includes">
                        <h6 class="text-uppercase text-left">{% t license.standard_license.content.title %}</h6>
                        <div class="col-lg-12 text-left ml-3">
                            <i class="ni ni-check-bold"></i>
                            <span class="description">{% t license.standard_license.content.f1 %}</span>
                        </div>
                        <div class="col-lg-12 text-left ml-3">
                            <i class="ni ni-check-bold"></i>
                            <span class="description">{% t license.standard_license.content.f2 %}</span>
                        </div>
                        <div class="col-lg-12 text-left ml-3">
                            <i class="ni ni-check-bold"></i>
                            <span class="description">{% t license.standard_license.content.f3 %}</span>
                        </div>
                    </div>
                    <div class="license-suited">
                        <h6 class="text-uppercase text-left mt-3">{% t license.standard_license.suited.title %}</h6>
                        <div class="col-lg-12 text-left">
                            <ul class="description">
                                <li>{% t license.standard_license.suited.f1 %}</li>
                                <li>{% t license.standard_license.suited.f2 %}</li>
                                <li>{% t license.standard_license.suited.f3 %}</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-12 mt-5 license-info"></div>
                    <div class="col-lg-12 mt-5">
                        <a class="btn btn-default" href="{{site.baseurl}}/download">{% t global.download_now %}</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 highlight">
                <div class="info bg-white">
                    <div class="license-description">
                        <h3 class="info-title text-uppercase display-4">{% t license.enterprise_license.title %}</h3>
                        <p class="description">
                            {% t license.enterprise_license.description %}
                        </p>
                    </div>
                    <div class="license-pricing">
                        <h5 class="text-uppercase">{% t license.enterprise_license.price %}</h5>
                        <p class="description">
                            {% t license.enterprise_license.price_description %}
                        </p>
                    </div>
                    <div class="license-includes">
                        <h6 class="text-uppercase text-left">{% t license.enterprise_license.content.title %}</h6>
                        <div class="col-lg-12 text-left ml-3">
                            <i class="ni ni-check-bold"></i>
                            <span class="description">{% t license.enterprise_license.content.f1 %}</span>
                        </div>
                        <div class="col-lg-12 text-left ml-3">
                            <i class="ni ni-check-bold"></i>
                            <span class="description">{% t license.enterprise_license.content.f2 %}</span>
                        </div>
                        <div class="col-lg-12 text-left ml-3">
                            <i class="ni ni-check-bold"></i>
                            <span class="description">{% t license.enterprise_license.content.f3 %}</span>
                        </div>
                        <div class="col-lg-12 text-left ml-3">
                            <i class="ni ni-fat-add"></i>
                            <span class="description">{% t license.enterprise_license.content.f4 %}</span>
                        </div>
                    </div>
                    <div class="license-suited">
                        <h6 class="text-uppercase text-left mt-3">{% t license.enterprise_license.suited.title %}</h6>
                        <div class="col-lg-12 text-left">
                            <ul class="description">
                                <li>{% t license.enterprise_license.suited.f1 %}</li>
                                <li>{% t license.enterprise_license.suited.f2 %}</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-12 mt-5 license-info">
                        <p class="description">{% t license.enterprise_license.info %}</p>
                    </div>
                    <div class="col-lg-12 mt-5">
                        <a class="btn btn-primary" href="mailto:info@ayborg.io?subject=[SALES REQUEST]">{% t global.contact_us %}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>