<section class="pricing-5" id="pricing-6" style="background-image: url('{{ '/assets/img/ill/bg_pricing5.svg' | relative_url }}');">
    <div class="container pt-5">
      <div class="row">
        <div class="col-md-4 d-flex justify-content-center flex-column">
          <h3 class="display-3 mt-3">Choose a plan for your next project</h3>
          <ul class="nav nav-pills nav-pills-primary my-4" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#commercial" role="tablist">
                Cheaper
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#personal" role="tablist">
                Expensive
              </a>
            </li>
          </ul>
          <p class="lead mt-0">You have Free Unlimited Updates and Premium Support on each package. You also have 20 days to request a refund.</p>
        </div>
        <div class="col-lg-7 col-md-8 ml-auto mr-auto">
          <div class="tab-content tab-space">
            <div class="tab-pane" id="personal">
              <div class="row">
                <div class="col-md-6">
                  <div class="card card-pricing bg-white border-0 text-center mb-4">
                    <div class="card-header bg-transparent">
                      <h6 class="text-uppercase ls-1 py-3 mb-0">Gold</h6>
                    </div>
                    <div class="card-body">
                      <div class="display-2">$100</div>
                      <span>per month</span>
                      <ul class="list-unstyled my-4">
                        <li class="align-items-center">
                          <b class="text-primary">200GB</b> <span>File Storage</span>
                        </li>
                        <li class="align-items-center">
                          <b class="text-primary">Unlimited</b> <span>Users</span>
                        </li>
                        <li class="align-items-center">
                          <b class="text-primary">Premium</b> <span>Support</span>
                        </li>
                      </ul>
                    </div>
                    <div class="card-footer bg-transparent">
                      <a href="#!">Request a demo</a>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="card card-pricing bg-white border-0 text-center mb-4">
                    <div class="card-header bg-transparent">
                      <h6 class="text-uppercase ls-1 py-3 mb-0">Platinum</h6>
                    </div>
                    <div class="card-body">
                      <div class="display-2">$135</div>
                      <span>per month</span>
                      <ul class="list-unstyled my-4">
                        <li class="align-items-center">
                          <b class="text-primary">500GB</b> <span>File Storage</span>
                        </li>
                        <li class="align-items-center">
                          <b class="text-primary">Unlimited</b> <span>Users</span>
                        </li>
                        <li class="align-items-center">
                          <b class="text-primary">No time</b> <span>Tracking</span>
                        </li>
                      </ul>
                    </div>
                    <div class="card-footer bg-transparent">
                      <a href="#!">Request a demo</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane active" id="commercial">
              <div class="row">
                <div class="col-md-6">
                  <div class="card card-pricing bg-white border-0 text-center mb-4">
                    <div class="card-header bg-transparent">
                      <h6 class="text-uppercase ls-1 py-3 mb-0">Standard</h6>
                    </div>
                    <div class="card-body">
                      <div class="display-2">$25</div>
                      <span>per month</span>
                      <ul class="list-unstyled my-4">
                        <li class="align-items-center">
                          <b class="text-primary">20GB</b> <span>File Storage</span>
                        </li>
                        <li class="align-items-center">
                          <b class="text-primary">15</b> <span>Users</span>
                        </li>
                        <li class="align-items-center">
                          <b class="text-primary">false</b> <span>Support</span>
                        </li>
                      </ul>
                    </div>
                    <div class="card-footer bg-transparent">
                      <a href="#!">Request a demo</a>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="card card-pricing bg-white border-0 text-center mb-4">
                    <div class="card-header bg-transparent">
                      <h6 class="text-uppercase ls-1 py-3 mb-0">Premium</h6>
                    </div>
                    <div class="card-body">
                      <div class="display-2">$59</div>
                      <span>per month</span>
                      <ul class="list-unstyled my-4">
                        <li class="align-items-center">
                          <b class="text-primary">50GB</b> <span>File Storage</span>
                        </li>
                        <li class="align-items-center">
                          <b class="text-primary">100</b> <span>Users</span>
                        </li>
                        <li class="align-items-center">
                          <b class="text-primary">Premium</b> <span>Support</span>
                        </li>
                      </ul>
                    </div>
                    <div class="card-footer bg-transparent">
                      <a href="#!">Request a demo</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>