<div class="pricing-2" id="pricing-2">
    <div class="container">
      <div class="space-100"></div>
      <div class="row">
        <div class="nav-wrapper mx-auto mr-3 mb-3">
          <ul class="nav nav-pills nav-pills-info nav-fill flex-column flex-md-row" id="tabs-icons-text" role="tablist">
            <li class="nav-item">
              <a class="nav-link mb-sm-3 mb-md-0" id="tabs-month" data-toggle="tab" href="#tabs-month" role="tab" aria-controls="tabs-icons-text-1" aria-selected="true"><i class="ni ni-satisfied mr-2"></i>Monthly</a>
            </li>
            <li class="nav-item">
              <a class="nav-link mb-sm-3 mb-md-0 active" id="tabs-year" data-toggle="tab" href="#tabs-year" role="tab" aria-controls="tabs-icons-text-2" aria-selected="false"><i class="ni ni-collection mr-2"></i>Yearly</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="card card-pricing bg-info card-background" style="background-image: url('{{ '/assets//img/ill/pricing_bg.svg' | relative_url }}" data-background="image">
            <div class="card-body">
              <h6 class="card-category text-white text-uppercase">Starter</h6>
              <h1 class="card-title">
                <small class="text-white">$</small>199
              </h1>
              <ul>
                <li>
                  <b>10</b> Projects
                </li>
                <li>
                  <b>1</b> Team Members
                </li>
                <li>
                  <b>5</b> Personal Contacts
                </li>
                <li>
                  <b>500</b> Messages
                </li>
              </ul>
              <a href="javascript:;" class="btn btn-white btn-sm mt-3">
                Get Started
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card card-pricing bg-warning card-background" style="background-image: url('{{ '/assets//img/ill/pricing_bg.svg' | relative_url }}" data-background="image">
            <div class="card-body">
              <h6 class="card-category text-white text-uppercase">PRO</h6>
              <h1 class="card-title">
                <small class="text-white">$</small>399
              </h1>
              <ul>
                <li>
                  <b>100</b> Projects
                </li>
                <li>
                  <b>10</b> Team Members
                </li>
                <li>
                  <b>50</b> Personal Contacts
                </li>
                <li>
                  <b>500</b> Messages
                </li>
              </ul>
              <a href="javascript:;" class="btn btn-white btn-sm mt-3">
                Get Started
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card card-pricing bg-success card-background" style="background-image: url('{{ '/assets//img/ill/pricing_bg.svg' | relative_url }}" data-background="image">
            <div class="card-body">
              <h6 class="card-category text-white text-uppercase">Enterprise</h6>
              <h1 class="card-title">
                <small class="text-white">$</small>599
              </h1>
              <ul>
                <li>
                  <b>1K</b> Projects
                </li>
                <li>
                  <b>100</b> Team Members
                </li>
                <li>
                  <b>500</b> Personal Contacts
                </li>
                <li>
                  <b>Unlimited</b> Messages
                </li>
              </ul>
              <a href="javascript:;" class="btn btn-white btn-sm mt-3">
                Get Started
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>