<div class="pricing-1" id="pricing-1">
    <div class="container">
      <div class="row">
        <div class="nav-wrapper ml-auto mr-3 mb-3">
          <ul class="nav nav-pills nav-pills-success nav-fill flex-column flex-md-row" id="tabs-icons-text" role="tablist">
            <li class="nav-item">
              <a class="nav-link mb-sm-3 mb-md-0 active" id="tabs-month" data-toggle="tab" href="#tabs-month" role="tab" aria-controls="tabs-icons-text-1" aria-selected="true"><i class="ni ni-satisfied mr-2"></i>Monthly</a>
            </li>
            <li class="nav-item">
              <a class="nav-link mb-sm-3 mb-md-0" id="tabs-year" data-toggle="tab" href="#tabs-year" role="tab" aria-controls="tabs-icons-text-2" aria-selected="false"><i class="ni ni-collection mr-2"></i>Yearly</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="card card-pricing bg-gradient-info border-0 text-center mb-4" >
            <div class="card-header bg-transparent">
              <h6 class="text-uppercase ls-1 text-white py-3 mb-0">Starter</h6>
            </div>
            <div class="card-body">
              <div class="display-2 text-white">$22</div>
              <span class=" text-white">per month</span>
              <ul class="list-unstyled my-4">
                <li>
                  <div class="d-flex align-items-center">
                    <div>
                      <div class="icon icon-xs icon-shape bg-white shadow rounded-circle text-info">
                        <i class="ni ni-book-bookmark"></i>
                      </div>
                    </div>
                    <div>
                      <span class="pl-2 text-sm text-white">Complete documentation</span>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="d-flex align-items-center">
                    <div>
                      <div class="icon icon-xs icon-shape bg-white shadow rounded-circle text-info">
                        <i class="ni ni-diamond"></i>
                      </div>
                    </div>
                    <div>
                      <span class="pl-2 text-sm text-white">Working materials in Sketch</span>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="d-flex align-items-center">
                    <div>
                      <div class="icon icon-xs icon-shape bg-white shadow rounded-circle text-info">
                        <i class="ni ni-chart-pie-35"></i>
                      </div>
                    </div>
                    <div>
                      <span class="pl-2 text-sm text-white">2GB cloud storage</span>
                    </div>
                  </div>
                </li>
              </ul>
              <button type="button" class="btn btn-link text-white mb-3">Get Started</button>
            </div>
            <div class="card-footer bg-transparent">
              <a href="#!" class=" text-white">Request a demo</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card card-pricing bg-gradient-warning border-0 text-center mb-4" >
            <div class="card-header bg-transparent">
              <h6 class="text-uppercase ls-1 text-white py-3 mb-0">PRO</h6>
            </div>
            <div class="card-body">
              <div class="display-2 text-white">$45</div>
              <span class=" text-white">per month</span>
              <ul class="list-unstyled my-4">
                <li>
                  <div class="d-flex align-items-center">
                    <div>
                      <div class="icon icon-xs icon-shape bg-white shadow rounded-circle text-warning">
                        <i class="ni ni-book-bookmark"></i>
                      </div>
                    </div>
                    <div>
                      <span class="pl-2 text-sm text-white">Complete documentation</span>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="d-flex align-items-center">
                    <div>
                      <div class="icon icon-xs icon-shape bg-white shadow rounded-circle text-warning">
                        <i class="ni ni-diamond"></i>
                      </div>
                    </div>
                    <div>
                      <span class="pl-2 text-sm text-white">Working materials in Sketch</span>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="d-flex align-items-center">
                    <div>
                      <div class="icon icon-xs icon-shape bg-white shadow rounded-circle text-warning">
                        <i class="ni ni-chart-pie-35"></i>
                      </div>
                    </div>
                    <div>
                      <span class="pl-2 text-sm text-white">200GB cloud storage</span>
                    </div>
                  </div>
                </li>
              </ul>
              <button type="button" class="btn btn-link text-white mb-3">Get Started</button>
            </div>
            <div class="card-footer bg-transparent">
              <a href="#!" class=" text-white">Request a demo</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card card-pricing bg-gradient-success border-0 text-center mb-4" >
            <div class="card-header bg-transparent">
              <h6 class="text-uppercase ls-1 text-white py-3 mb-0">Enterprise</h6>
            </div>
            <div class="card-body">
              <div class="display-2 text-white">$68</div>
              <span class=" text-white">per month</span>
              <ul class="list-unstyled my-4">
                <li>
                  <div class="d-flex align-items-center">
                    <div>
                      <div class="icon icon-xs icon-shape bg-white shadow rounded-circle text-success">
                        <i class="ni ni-book-bookmark"></i>
                      </div>
                    </div>
                    <div>
                      <span class="pl-2 text-sm text-white">Complete documentation</span>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="d-flex align-items-center">
                    <div>
                      <div class="icon icon-xs icon-shape bg-white shadow rounded-circle text-success">
                        <i class="ni ni-diamond"></i>
                      </div>
                    </div>
                    <div>
                      <span class="pl-2 text-sm text-white">Working materials in Sketch</span>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="d-flex align-items-center">
                    <div>
                      <div class="icon icon-xs icon-shape bg-white shadow rounded-circle text-success">
                        <i class="ni ni-chart-pie-35"></i>
                      </div>
                    </div>
                    <div>
                      <span class="pl-2 text-sm text-white">Unlimited cloud storage</span>
                    </div>
                  </div>
                </li>
              </ul>
              <button type="button" class="btn btn-link text-white mb-3">Get Started</button>
            </div>
            <div class="card-footer bg-transparent">
              <a href="#!" class=" text-white">Request a demo</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>