<section class="pricing-3" style="background-image: url('{{ '/assets/img/ill/1.svg' | relative_url }}')" id="pricing-4">
    <div class="container">
      <div class="row">
        <div class="col-md-5 pr-md-0">
          <div class="card card-pricing text-center bg-default">
            <div class="card-header bg-transparent">
              <h4 class="text-uppercase ls-1 text-primary py-3 mb-0">Bravo pack</h4>
            </div>
            <div class="card-body px-lg-6">
              <div class="display-2 text-white">$49</div>
              <span class=" text-muted">per application</span>
              <ul class="list-unstyled my-4">
                <li>
                  <div class="d-flex align-items-center">
                    <div>
                      <div class="icon icon-xs icon-shape icon-shape-primary shadow rounded-circle">
                        <i class="ni ni-folder-17 text-white"></i>
                      </div>
                    </div>
                    <div>
                      <span class="pl-2 text-sm">Complete documentation</span>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="d-flex align-items-center">
                    <div>
                      <div class="icon icon-xs icon-shape icon-shape-primary shadow rounded-circle">
                        <i class="ni ni-camera-compact text-white"></i>
                      </div>
                    </div>
                    <div>
                      <span class="pl-2 text-sm">Working materials in Sketch</span>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="d-flex align-items-center">
                    <div>
                      <div class="icon icon-xs icon-shape icon-shape-primary shadow rounded-circle">
                        <i class="ni ni-chart-pie-35 text-white"></i>
                      </div>
                    </div>
                    <div>
                      <span class="pl-2 text-sm">2GB cloud storage</span>
                    </div>
                  </div>
                </li>
              </ul>
              <button type="button" class="btn btn-primary mb-3">Start free trial</button>
            </div>
            <div class="card-footer bg-transparent">
              <a href="javascript:;" class=" text-muted">Request a demo</a>
            </div>
          </div>
        </div>
        <div class="col-md-7 pl-md-0">
          <div class="card card-pricing border-0 text-center my-5">
            <div class="card-header bg-transparent">
              <h4 class="text-uppercase ls-1 text-primary py-3 mb-0">Enterprise</h4>
            </div>
            <div class="card-body px-lg-6">
              <div class="card-description">What colors are good, before somebody tells you you shouldn’t like pink because that’s for girls, or you’d instantly become a gay two-year-old.</div>
              <table class="table table-bordered mt-3">
                <tbody>
                  <tr>
                    <td>24/7 Support</td>
                    <td>Design Tools</td>
                  </tr>
                  <tr>
                    <td>10K emails</td>
                    <td>Private Brand</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="card-footer">
              <a href="javascript:;" class="text-primary">Create new account</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>