<div class="pricing-4" id="pricing-5">
    <div class="container">
      <div class="row mt-5">
        <div class="col-md-4">
          <div class="card card-pricing card-coin" >
            <div class="card-header">
              <img src="{{ '/assets/img/theme/vue.jpg' | relative_url }}" class="img-center shadow">
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-12 text-center">
                  <h5 class="text-uppercase">Standard Pack</h5>
                  <span>£ 39</span>
                  <hr class="bg-info">
                </div>
              </div>
              <div class="row">
                <ul class="list-group">
                  <li class="list-group-item">50 messages</li>
                  <li class="list-group-item">100 emails</li>
                  <li class="list-group-item">No Support</li>
                </ul>
              </div>
            </div>
            <div class="card-footer text-center bg-transparent">
              <button class="btn btn-primary mb-3">Get plan</button>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card card-pricing card-coin" >
            <div class="card-header">
              <img src="{{ '/assets/img/theme/react.jpg' | relative_url }}" class="img-center shadow">
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-12 text-center">
                  <h5 class="text-uppercase">Premium Pack</h5>
                  <span>£ 49</span>
                  <hr class="bg-info">
                </div>
              </div>
              <div class="row">
                <ul class="list-group">
                  <li class="list-group-item">100 messages</li>
                  <li class="list-group-item">1K emails</li>
                  <li class="list-group-item">Premium Support</li>
                </ul>
              </div>
            </div>
            <div class="card-footer text-center bg-transparent">
              <button class="btn btn-primary mb-3">Get plan</button>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card card-pricing card-coin" >
            <div class="card-header">
              <img src="{{ '/assets/img/theme/sketch.jpg' | relative_url }}" class="img-center shadow">
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-12 text-center">
                  <h5 class="text-uppercase">Platinum Pack</h5>
                  <span>£ 69</span>
                  <hr class="bg-info">
                </div>
              </div>
              <div class="row">
                <ul class="list-group">
                  <li class="list-group-item">350 messages</li>
                  <li class="list-group-item">10K emails</li>
                  <li class="list-group-item">24/7 Support</li>
                </ul>
              </div>
            </div>
            <div class="card-footer text-center bg-transparent">
              <button class="btn btn-primary mb-3">Get plan</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>