.highlight {
    color: $black;
}

.docs {
    &.grid {
        display: grid;
        grid-template-columns: 3fr 9fr;
    }
    &.sidebar {
        grid-column: 1;
        height: 95%;

        ul {
            list-style-type: none;
            border-left: 8px solid #eee;
            padding: 0px 5px;
            line-height: 30px;
            
            a {
                color: #525f7f;
            }

            li {
                display: list-item;
            }
    
            li.active {
                a {
                    font-weight: bold;
                    cursor: default;
                }
            }
        }
    }
    &.content {
        grid-column: 2;
    }
}
