<div class="section features-4">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-12 text-left highlight">
        <span class="display-1">Browser-based user interface</span>
      </div>
      <div class="col-lg-4">
        <img class="d-block w-100" src="{{ '/assets/img/diagram/mobile-devices.png' | relative_url }}" alt="Mobile devices diagram"> 
      </div>
      <div class="col-lg-8 text-left pl-5">
        <p class="lead">Experience the future of user-friendly machine vision and production automation with AyBorg's browser-based user interface. Collaborate seamlessly, eliminate installation hurdles and let the server do the heavy lifting. AyBorg enables you to achieve unparalleled efficiency with ease.</p>
      </div>
    </div>
    <div class="row row-grid mt-2">
      <div class="col-lg-4 col-md-4">
        <div class="info info-horizontal info-hover-primary">
          <h3 class="info-title text-uppercase display-4">Multi-user system</h3>
          <p class="description">Seamlessly collaborate, share insights and increase productivity with our intuitive platform. Embrace a future where collective brilliance drives innovation and takes your projects to new heights. With AyBorg's multi-user system, the possibilities for collaboration are limitless, empowering you to achieve more together.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-4">
        <div class="info info-horizontal info-hover-primary">
          <h3 class="info-title text-uppercase display-4">No client installation</h3>
          <p class="description">Immerse yourself in the world of industrial image processing and production automation without the hassle of setup. Enjoy the freedom to get started immediately. AyBorg's no-client installation approach simplifies your journey, allowing you to focus on what really matters - achieving exceptional results.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-4">
        <div class="info info-horizontal info-hover-primary">
          <h3 class="info-title text-uppercase display-4">Run seamlessly on any device</h3>
          <p class="description">Whether it's a PC, laptop, smartphone or tablet, embrace the power to access and use advanced machine vision and production automation capabilities wherever you are. Break free from limitations and unleash productivity on your terms, allowing you to unlock your full potential anytime, anywhere.</p>
        </div>
      </div>
    </div>
  </div>
</div>
