<div class="section features-6">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="info info-horizontal info-hover-primary">
          <div class="icon icon-shape icon-shape-info rounded-circle text-white">
            <i class="ni ni-html5 text-info"></i>
          </div>
          <div class="description pl-4">
            <h5 class="title">For Developers</h5>
            <p>The time is now for it to be okay to be great. People in this world shun people for being great. For being a bright color. For standing out. But the time is now.</p>
            <a href="#" class="text-info">Learn more</a>
          </div>
        </div>
        <div class="info info-horizontal info-hover-primary">
          <div class="icon icon-shape icon-shape-info rounded-circle text-white">
            <i class="ni ni-app text-info"></i>
          </div>
          <div class="description pl-4">
            <h5 class="title">For Designers</h5>
            <p>There’s nothing I really wanted to do in life that I wasn’t able to get good at. That’s my skill. I’m not really specifically talented at anything except for the ability to learn.</p>
            <a href="#" class="text-info">Learn more</a>
          </div>
        </div>
        <div class="info info-horizontal info-hover-primary">
          <div class="icon icon-shape icon-shape-info rounded-circle text-white">
            <i class="ni ni-bell-55 text-info"></i>
          </div>
          <div class="description pl-4">
            <h5 class="title">For Beginners</h5>
            <p>That’s what I do. That’s what I’m here for. Don’t be afraid to be wrong because you can’t learn anything from a compliment. If everything I did failed - which it doesn't.</p>
            <a href="#" class="text-info">Learn more</a>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-10 mx-md-auto">
        <img class="ml-lg-5" src="{{ '/assets/img/ill/ill.png' | relative_url }}" width="100%">
      </div>
    </div>
  </div>
</div>