<div class="section features-2">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-4 col-md-8 mr-auto text-left">
        <div class="pr-md-5">
          <div class="icon icon-lg icon-shape icon-shape-primary shadow rounded-circle mb-5">
            <i class="ni ni-favourite-28"></i>
          </div>
          <h3>Awesome features</h3>
          <p>The kit comes with three pre-built pages to help you get started faster. You can change the text and images and you're good to go.</p>
          <ul class="list-unstyled mt-5">
            <li class="py-2">
              <div class="d-flex align-items-center">
                <div>
                  <div class="badge badge-circle badge-primary mr-3">
                    <i class="ni ni-settings-gear-65"></i>
                  </div>
                </div>
                <div>
                  <h6 class="mb-0">Carefully crafted components</h6>
                </div>
              </div>
            </li>
            <li class="py-2">
              <div class="d-flex align-items-center">
                <div>
                  <div class="badge badge-circle badge-primary mr-3">
                    <i class="ni ni-html5"></i>
                  </div>
                </div>
                <div>
                  <h6 class="mb-0">Amazing page examples</h6>
                </div>
              </div>
            </li>
            <li class="py-2">
              <div class="d-flex align-items-center">
                <div>
                  <div class="badge badge-circle badge-primary mr-3">
                    <i class="ni ni-satisfied"></i>
                  </div>
                </div>
                <div>
                  <h6 class="mb-0">Super friendly support team</h6>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-7 col-md-12 pl-md-0">
        <div class="row">
          <div class="col-lg-4 col-md-4">
            <div class="info text-left bg-info shadow">
              <div class="icon icon-shape bg-gradient-white shadow rounded-circle text-primary">
                <i class="ni ni-satisfied text-info"></i>
              </div>
              <h5 class="info-title text-white">Best Quality</h5>
              <p class="description">What matters is the people who are sparked by it. And the people who are like offended by it.</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-4">
            <div class="info text-left bg-danger info-raised shadow">
              <div class="icon icon-shape bg-gradient-white shadow rounded-circle text-primary">
                <i class="ni ni-palette text-danger"></i>
              </div>
              <h5 class="info-title text-white">Awesome Design</h5>
              <p class="description">Because it's about motivating the doers. Because I’m here to follow my dreams and inspire the world.</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-4">
            <div class="info text-left bg-default shadow">
              <div class="icon icon-shape bg-gradient-white shadow rounded-circle text-primary">
                <i class="ni ni-spaceship text-default"></i>
              </div>
              <h5 class="info-title text-white">Great Performance</h5>
              <p class="description">There’s nothing I really wanted to do in life that I wasn’t able to get good at. We’re constantly growing.</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-4">
            <div class="info text-left bg-primary shadow">
              <div class="icon icon-shape bg-gradient-white shadow rounded-circle text-primary">
                <i class="ni ni-planet text-primary"></i>
              </div>
              <h5 class="info-title text-white">Fast Development</h5>
              <p class="description">I always felt like I could do anything. That’s the main thing people are controlled by the force! </p>
            </div>
          </div>
          <div class="col-lg-4 col-md-4">
            <div class="info text-left bg-warning info-raised shadow">
              <div class="icon icon-shape bg-gradient-white shadow rounded-circle text-primary">
                <i class="ni ni-glasses-2 text-warning"></i>
              </div>
              <h5 class="info-title text-white">Super Fresh</h5>
              <p class="description">Thoughts- their perception of themselves! They're slowed down by their perception of themselves.</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-4">
            <div class="info text-left bg-success shadow">
              <div class="icon icon-shape bg-gradient-white shadow rounded-circle text-primary">
                <i class="ni ni-notification-70 text-success"></i>
              </div>
              <h5 class="info-title text-white">Organized Content</h5>
              <p class="description">If you're taught you can’t do anything, you won’t do anything. I was taught I could do everything.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>