<div class="section features-4">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-12 text-left highlight">
        <span class="display-1">Built-in analytics and audit trails</span>
      </div>
      <div class="col-lg-4">
        <img class="d-block w-100" src="{{ '/assets/img/diagram/analytics-audit.png' | relative_url }}" alt="Mobile devices diagram"> 
      </div>
      <div class="col-lg-8 text-left pl-5">
        <p class="lead">AyBorg features built-in analytics that streamline the creation of audit trails and facilitate data analysis. Benefit from effortless reporting and enhanced insights, making it easier to track and analyse critical information. AyBorg enables you to simplify your audit processes and gain valuable insights from your data, maximising efficiency and decision making.</p>
      </div>
    </div>
  </div>
</div>
