<div class="section features-4">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-12 text-right highlight">
        <span class="display-1">Plug-in collection</span>
      </div>
      <div class="col-lg-8 text-left">
        <p class="lead">Discover a wide range of plug-ins for image processing, AI and data communication. Seamlessly enhance your workflow and expand your functionality with the right plug-ins for your specific needs. Extend your capabilities effortlessly with our versatile plug-in ecosystem.</p>
      </div>
      <div class="col-lg-4 pl-5">
        <img class="d-block w-100" src="{{ '/assets/img/diagram/plugins.png' | relative_url }}" alt="Mobile devices diagram"> 
      </div>
    </div>
  </div>
</div>
