<div class="section features-4">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-12 text-left highlight">
        <span class="display-1">{% t features.feature_hybridhosting.title %}</span>
      </div>
      <div class="col-lg-4">
        <img class="d-block w-100" src="{{ '/assets/img/diagram/hybrid-hosting.png' | relative_url }}" alt="Mobile devices diagram"> 
      </div>
      <div class="col-lg-8 text-left pl-5">
        <p class="lead">
          {% t features.feature_hybridhosting.paragraph %}
        </p>
      </div>
    </div>
  </div>
</div>
