<div class="section features-3 my-5 fullWidth" style="background-image: url(' {{ '/assets/img/ill/p31.svg' | relative_url }}')">
  <div class="container">
    <div class="row text-center justify-content-center">
      <div class="col-lg-8">
        <h3 class="display-3 text-white">Build something great<span class="text-success"> with our products</span></h3>
        <p class="lead text-white">We’re constantly trying to express ourselves and actualize our dreams. If you have the opportunity to play this game of life you need to appreciate every moment.</p>
      </div>
    </div>
    <div class="row row-grid mt-5">
      <div class="col-lg-6">
        <div class="info info-horizontal bg-white">
          <div class="icon icon-shape icon-shape-info rounded-circle text-white">
            <i class="ni ni-hat-3 text-info"></i>
          </div>
          <div class="description pl-4">
            <h5 class="title text-info">Modular Components</h5>
            <p>The Arctic Ocean freezes every winter and much of the sea-ice then thaws every summer, and that process will continue whatever.</p>
            <a href="#" class="text-info">Learn more</a>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="info info-horizontal bg-white">
          <div class="icon icon-shape icon-shape-warning rounded-circle text-white">
            <i class="ni ni-istanbul text-warning"></i>
          </div>
          <div class="description pl-4">
            <h5 class="title text-warning">Modern Interface</h5>
            <p>If everything I did failed - which it doesn't, it actually succeeds - just the fact that I'm willing to fail is an inspiration.</p>
            <a href="#" class="text-warning">Learn more</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row row-grid">
      <div class="col-lg-6">
        <div class="info info-horizontal bg-white">
          <div class="icon icon-shape icon-shape-danger rounded-circle text-white">
            <i class="ni ni-trophy text-danger"></i>
          </div>
          <div class="description pl-4">
            <h5 class="title text-danger">Great Features</h5>
            <p>People are so scared to lose that they don't even try. Like, one thing people can't say is that I'm not trying, and I'm not trying my hardest.</p>
            <a href="#" class="text-danger">Learn more</a>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="info info-horizontal bg-white">
          <div class="icon icon-shape icon-shape-success rounded-circle text-white">
            <i class="ni ni-image text-success"></i>
          </div>
          <div class="description pl-4">
            <h5 class="title text-success">Awesome Support</h5>
            <p>The time is now for it to be okay to be great. People in this world shun people for being great. For being a bright color.</p>
            <a href="#" class="text-success">Learn more</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>