<div class="section features-4">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-12 text-left highlight">
        <span class="display-1">{% t features.feature_browserbased.title %}</span>
      </div>
      <div class="col-lg-4">
        <img class="d-block w-100" src="{{ '/assets/img/diagram/mobile-devices.png' | relative_url }}" alt="Mobile devices diagram"> 
      </div>
      <div class="col-lg-8 text-left pl-5">
        <p class="lead">
          {% t features.feature_browserbased.paragraph %}
        </p>
      </div>
    </div>
    <div class="row row-grid mt-2">
      <div class="col-lg-4 col-md-4">
        <div class="info info-horizontal info-hover-primary">
          <h3 class="info-title text-uppercase display-4">{% t features.feature_browserbased.f1.title %}</h3>
          <p class="description">
            {% t features.feature_browserbased.f1.paragraph %}
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-4">
        <div class="info info-horizontal info-hover-primary">
          <h3 class="info-title text-uppercase display-4">{% t features.feature_browserbased.f2.title %}</h3>
          <p class="description">
            {% t features.feature_browserbased.f2.paragraph %}
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-4">
        <div class="info info-horizontal info-hover-primary">
          <h3 class="info-title text-uppercase display-4">{% t features.feature_browserbased.f3.title %}</h3>
          <p class="description">
            {% t features.feature_browserbased.f3.paragraph %}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
