<div class="section features-4">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-12 text-left highlight">
        <span class="display-1">Hybrid hosting</span>
      </div>
      <div class="col-lg-4">
        <img class="d-block w-100" src="{{ '/assets/img/diagram/hybrid-hosting.png' | relative_url }}" alt="Mobile devices diagram"> 
      </div>
      <div class="col-lg-8 text-left pl-5">
        <p class="lead">AyBorg offers a versatile hybrid hosting solution that seamlessly combines edge, cloud and on-premises infrastructure. Experience the benefits of a flexible hosting approach where you can optimise your workflows across multiple environments. With AyBorg, you have the freedom to leverage the power of edge computing, the scalability of the cloud and the control of on-premises deployments.</p>
      </div>
    </div>
  </div>
</div>
