<div class="section features-4">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-12 col-md-12 text-left highlight">
        <span class="display-1">
          {% t home.editor.title %}
          <br>
          {% t home.editor.subtitle %}
        </span>
      </div>
      <div class="col-lg-12 col-md-12 mt-4">
        <img class="d-block w-100" src="{{ '/assets/img/product/editor-dark.png' | relative_url }}"
          alt="Workflow editor">
      </div>
      <div class="col-lg-12 col-md-12 text-left mt-4">
        <p class="lead">
          {% t home.editor.paragraph %}
        </p>
      </div>
    </div>
    <div class="row row-grid mt-3">
      <div class="col-lg-4 col-md-4">
        <div class="info info-horizontal info-hover-primary">
          <h3 class="info-title text-uppercase display-4">{% t home.editor.f1.title %}</h3>
          <p class="description">
            {% t home.editor.f1.paragraph %}
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-4">
        <div class="info info-horizontal info-hover-primary">
          <h3 class="info-title text-uppercase display-4">{% t home.editor.f2.title %}</h3>
          <p class="description">
            {% t home.editor.f2.paragraph %}
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-4">
        <div class="info info-horizontal info-hover-primary">
          <h3 class="info-title text-uppercase display-4">{% t home.editor.f3.title %}</h3>
          <p class="description">
            {% t home.editor.f3.paragraph %}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>