<div class="section features-3 fullWidth">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-4 text-left highlight mr-5">
                <div class="col-lg-12 text-left highlight">
                    <span class="display-1 text-white">{% t home.download.title %}</span>
                    <p class="description text-white">
                        {% t home.download.paragraph %}
                    </p>
                </div>
            </div>
            <div class="col-lg-7 highlight">
                <div class="row align-items-center">
                    <div class="col-lg-6 highlight">
                        <a href="{{site.baseurl}}/download" style="text-decoration: none; color: inherit;">
                            <div class="info info-hover-primary bg-white mr-2" style="min-height: 300px;">
                                <h3 class="info-title text-uppercase display-4">{% t home.download.f1.title %}</h3>
                                <p class="description">
                                    {% t home.download.f1.paragraph %}
                                </p>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-6 highlight">
                        <a href="{{site.baseurl}}/license" style="text-decoration: none; color: inherit;">
                            <div class="info info-hover-primary bg-white" style="min-height: 300px;">
                                <h3 class="info-title text-uppercase display-4">{% t home.download.f2.title %}</h3>
                                <p class="description">
                                    {% t home.download.f2.paragraph %}
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>