<div class="section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12 text-left highlight">
                <span class="display-1">{% t about.f3.title %}</span>
            </div>
            <div class="col-lg-12 text-left">
                <p class="lead">
                    {% t about.f3.paragraph1 %}
                </p>
                <p class="lead">
                    {% t about.f3.paragraph2 %}
                </p>
                <p class="lead">
                    {% t about.f3.paragraph3 %}
                </p>
            </div>
        </div>
    </div>
</div>