<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

<head>
  <base href="{{site.baseurl}}" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta charset="utf-8">

  <!-- Page Info -->
  <link rel="shortcut icon" href="{{ site.data.settings.basic_settings.favicon_image | relative_url }}">
  <title>{% if page.url == "/" %}{{ site.data.settings.basic_settings.site_title }} – {{ page.title }}{% else %}{{ page.title }} – {{ site.data.settings.basic_settings.site_title }}{% endif %}</title>
  <meta name="description" content="{{ page.description }}">

  <!-- Twitter Card -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title"
    content="{% if page.url == "/" %}{{ site.data.settings.basic_settings.site_title }} – {{ page.title }}{% else %}{{ page.title }} – {{ site.data.settings.basic_settings.site_title }}{% endif %}">
  <meta name="twitter:description" content="{{ page.description }}">
  <meta name="twitter:image:src" content="{{ page.featured_image | absolute_url }}">

  <!-- Facebook OpenGraph -->
  <meta property="og:title"
    content="{% if page.url == "/" %}{{ site.data.settings.basic_settings.site_title }} – {{ page.title }}{% else %}{{ page.title }} – {{ site.data.settings.basic_settings.site_title }}{% endif %}" />
  <meta property="og:description" content="{{ page.description }}" />
  <meta property="og:image" content="{{ page.featured_image | absolute_url }}" />

  <!--  Fonts and icons -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
  <!-- Nucleo Icons -->
  <link href="{{ "/assets/css/nucleo-icons.css" | relative_url }}" rel="stylesheet" />
  <link href="{{ "/assets/css/nucleo-svg.css" | relative_url }}" rel="stylesheet" />
  <!-- Font Awesome Icons -->
  <link href="{{ "/assets/css/font-awesome.css" | relative_url }}" rel="stylesheet" />
  <link href="{{ "/assets/css/nucleo-svg.css" | relative_url }}" rel="stylesheet" />
  <!-- CSS Files -->
  <link rel="stylesheet" href="{{ "/assets/styles/styles.css" | relative_url }}" rel="stylesheet">

  {% if site.data.settings.advanced_settings.analytics_code %}
  <!-- Analytics Code -->
  {{ site.data.settings.advanced_settings.analytics_code }}
  {% endif %}

  {% if site.data.settings.advanced_settings.header_js %}
  <!-- Extra Header JS Code -->
  {{ site.data.settings.advanced_settings.header_js }}
  {% endif %}

  <script>
    var TxtRotate = function(el, toRotate, period) {
  this.toRotate = toRotate;
  this.el = el;
  this.loopNum = 0;
  this.period = parseInt(period, 10) || 2000;
  this.txt = '';
  this.tick();
  this.isDeleting = false;
};

TxtRotate.prototype.tick = function() {
  var i = this.loopNum % this.toRotate.length;
  var fullTxt = this.toRotate[i];

  if (this.isDeleting) {
    this.txt = fullTxt.substring(0, this.txt.length - 1);
  } else {
    this.txt = fullTxt.substring(0, this.txt.length + 1);
  }

  this.el.innerHTML = this.txt;

  var that = this;
  var delta = 300 - Math.random() * 100;

  if (this.isDeleting) { delta /= 2; }

  if (!this.isDeleting && this.txt === fullTxt) {
    delta = this.period;
    this.isDeleting = true;
  } else if (this.isDeleting && this.txt === '') {
    this.isDeleting = false;
    this.loopNum++;
    delta = 500;
  }

  setTimeout(function() {
    that.tick();
  }, delta);
};

window.onload = function() {
  var elements = document.getElementsByClassName('txt-rotate');
  for (var i=0; i<elements.length; i++) {
    var toRotate = elements[i].getAttribute('data-rotate');
    var period = elements[i].getAttribute('data-period');
    if (toRotate) {
      new TxtRotate(elements[i], JSON.parse(toRotate), period);
    }
  }
};
  </script>

</head>

<body>
  {% include header.html %}

  <div class="wrapper page">
    <div id="main" class="container contentWrapper docs">
      <div class="row row-grid">
        <div class="col-lg-3">
          {% include components/sidebars/docs/sidebar.html %}
        </div>
        <div class="col-lg-9">
          <div class="text-left mt-5 mb-3">
            <h3 class="display-2">{{page.title}}</h3>
            {% if page.subtitle %}
            <p class="lead">{{page.subtitle}}</p>
            {% endif %}
          </div>
          {{content}}
        </div>
      </div>
    </div>
  </div>

  {% include footer.html %}

  {% if site.data.settings.advanced_settings.footer_js %}
  <!-- Extra Footer JS Code --> {{ site.data.settings.advanced_settings.footer_js }}
  {% endif %}

</body>

</html>
</body>

</html>