<div Class="mud-full-width py-1 m-0">
    <MudTooltip Text="@(Value?.ToString())" RootClass="mud-full-width">
        <MudButton Color="Color.Default" DisableElevation="true" Variant="Variant.Filled"
            Class="mud-full-width m-0" OnClick="OnEditFiedClicked" Disabled="Disabled">
            @if (Label != string.Empty)
            {
                <div Class="w50 ta-start">
                    <MudText>@Label</MudText>
                </div>
                <div Class="w50 ta-end">
                    <div Class="pt-2 to-ellipsis value label-value">
                        @Value
                    </div>
                </div>
            }
            else
            {
                <div Class="mud-full-width pt-2 to-ellipsis value">
                    @Value
                </div>
            }
        </MudButton>
    </MudTooltip>
</div>
