<div class="section features-3 fullWidth">
    <div class="container">
        <div class="row align-items-top">
            <div class="col-lg-2">
                <div>
                    <div class="step-border">
                        <span class="text-white display-3">4</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-10">
                <h2 class="text-white text-left display-3">{% t download.webfrontend.title %}</h2>
                <div class="text-left text-white">
                    <ul class="description">
                        <li>{% t download.webfrontend.s1 %}</li>
                        <li>{% t download.webfrontend.s2 %}</li>
                        <li>
                            {% t download.webfrontend.s3 %}
                            <ul>
                                <li>{% t download.webfrontend.s3_1 %}</li>
                                <li>{% t download.webfrontend.s3_2 %}</li>
                                <li>{% t download.webfrontend.s3_3 %}</li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>