<div class="section features-3 fullWidth">
    <div class="container">
        <div class="row align-items-top">
            <div class="col-lg-2">
                <div>
                    <div class="step-border">
                        <span class="text-white display-3">1</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-10">
                <h2 class="text-white text-left display-3">{% t download.download_ayborg %}</h2>
                <h3 class="text-white display-4">{% t download.actual_version %}</h3>
                <table class="table text-white">
                    <tr>
                        <td>AyBorg {{ page.version }} (Windows)</td>
                        <td><a class="text-info" href="https://github.com/Source-Alchemists/AyBorg/releases/download/{{ page.version }}/AyBorg.win-x64.zip">x64, .zip</a></td>
                    </tr>
                    <tr>
                        <td>AyBorg {{ page.version }} (Linux)</td>
                        <td><a class="text-info" href="https://github.com/Source-Alchemists/AyBorg/releases/download/{{ page.version }}/AyBorg.linux-x64.zip">x64, .zip</a></td>
                    </tr>
                    <tr>
                        <td>AyBorg {{ page.version }} (Linux)</td>
                        <td><a class="text-info" href="https://github.com/Source-Alchemists/AyBorg/releases/download/{{ page.version }}/AyBorg.linux-arm64.zip">AArch64, .zip</a></td>
                    </tr>
                    <tr>
                        <td>AyBorg {{ page.version }} (macOS)</td>
                        <td><a class="text-info" href="https://github.com/Source-Alchemists/AyBorg/releases/download/{{ page.version }}/AyBorg.osx-arm64.zip">AArch64, .zip</a></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>