<div class="section features-3 fullWidth">
    <div class="container">
        <div class="row align-items-top">
            <div class="col-lg-2">
                <div>
                    <div class="step-border">
                        <span class="text-white display-3">3</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-10">
                <h2 class="text-white text-left display-3">{% t download.execute.title %}</h2>
                <div class="text-left text-white">
                    <p>
                        {% t download.execute.description %}
                        <ul>
                            <li>{% t download.execute.s1 %}</li>
                            <li>{% t download.execute.s2 %}</li>
                            <li>{% t download.execute.s3 %}</li>
                        </ul>
                    </p>
                </div>
                <h3 class="text-white text-left display-4">(Optional) macOS only</h3>
                <div class="text-left text-white">
                    <p>
                        {% t download.execute.macOS.description %}
                        <ul>
                            <li>{% t download.execute.macOS.s1 %}</li>
                            <li>{% t download.execute.macOS.s2 %}</li>
                            <li>{% t download.execute.macOS.s3 %}</li>
                            <li>{% t download.execute.macOS.s4 %}</li>
                        </ul>
                    </p>
            </div>
        </div>
    </div>
</div>